@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  font-family: 'Roboto';
}

body {
  margin: 0;
  padding: 0;
  width: 100vp;
  background-image: url(../images/mars-11012.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

/* header style - beginning */

header {
  display: flex;
  background-color: #1f2937ca;
  color: white;
  flex-direction: column;
  padding: 0px 196px 128px 196px;
}

h1 {
  font-size: 48px;
  font-weight: 900;
  margin: 0;
}

ul {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  gap: 24px;
}

nav {
  display: flex;
  align-items: center;
}

#logo {
  font-size: 24px;
  color: #f0faf8;
  font-weight: bold;
}

a {
  text-decoration: none;
}

.hero-secondary-text,
.sign-up {
  font-size: 18px;
  color: #e5e7eb;
  margin: 0;
}

.sign-up {
  background: #3882f6;
  padding: 8px 36px 8px 36px;
  border-radius: 8px;
  border: none;
  font-weight: bold;
  cursor: pointer;
}

.sign-up:hover {
  background: white;
  color: #3882f6;
}

.upper-edge {
  display: flex;
  justify-content: space-between;
  margin-bottom: 128px;
}

.mid-header {
  display: flex;
}

.mid-header .image-space,
.mid-header-text {
  flex: 1;
}

.mid-header-text {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.mid-header-text h1 {
  flex: initial;
}

.image-space {
  background-image: url(../images/pexels-spacex-586030.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

/* header style - ending */

/* upper body style - beginning */

.body-header {
  display: flex;
  justify-content: center;
}

h2 {
  font-size: 36px;
  font-weight: 900;
  color: #e5e7eb;
}

.random-info {
  display: flex;
  justify-content: center;
  gap: 48px;
  margin-bottom: 128px;
}

.infos .image-space {
  border: 3px solid #3882f6;
  border-radius: 16px;
  width: 164px;
  height: 164px;
}

.infos .image-space {
  background-image: url(../images/mars-6901432.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.infos:nth-child(2) .image-space {
  background-image: url(../images/pexels-a-koolshooter-5259414.jpg);
}

.infos:nth-child(3) .image-space {
  background-image: url(../images/victoria-3607928.jpg);
}

.infos:nth-child(4) .image-space {
  background-image: url(../images/concept-4455117.jpg);
}

.infos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 165px;
  padding: 0;
  gap: 8px;
}

.infos p {
  margin: 0;
  text-align: center;
  color: #e5e7eb;
  font-size: 18px;
}

/* upper body style - ending */

/* mid body style - beginning */
.mid-body {
  display: flex;
  background-color: #e5e7eb;
  padding: 128px 264px 128px 264px;
}

.quote {
  display: flex;
  flex-direction: column;
}

#quote {
  margin: 0;
  font-size: 36px;
  font-style: italic;
  font-weight: 300;
  color: #1f2937;
  text-align: left;
}

#author {
  margin: 0;
  align-self: flex-end;
  font-size: 18px;
  font-weight: bold;
  color: #1f2937;
}
/* mid body style - ending */

/* lower body style - beginning */
.lower-body {
  display: flex;
  padding: 128px 196px 128px 196px;
  background-color: rgba(255, 255, 255, 0.189);
}

.call-to-action {
  display: flex;
  background-color: #3882f6;
  flex: 1;
  justify-content: space-between;
  padding: 48px 96px;
  border-radius: 8px;
}

.lower-text {
  display: flex;
  flex-direction: column;
  color: white;
}

.lower-text * {
  margin: 0;
}

.call-to-action .sign-up {
  border: 2px solid white;
}

/* lower body style - ending */

/* footer styler - beginning */

footer {
  display: flex;
  background-color: #1f2937;
  color: #e5e7eb;
  justify-content: center;
  padding: 16px;
}

footer p {
  display: flex;
  align-items: center;
  padding: 0;
}

footer p img {
  max-height: 24px;
  padding-left: 4px;
}
